@base-bg-color: #ffffff;
@header-bg-color: #f9f9f9;

// Для развертываемой кнопки меню
@button-menu: #231f20;

// Для кнопок в рамках и текста *менее темный*
@darken-blue-black: #444444;

// Для границ кнопок и волнистой линии
@thin-grey-line: #ececec;

// Цвета Тиффани
@tiffany-lighter: #63d1bb;
@tiffany-darker: #56c3b2;
@tiffany-link: #62d1ba;

// Цвет page-footer на главной странице, хедера на внутренней странице
@base-grey-color: #f1f1f1;

// Для шрифтов
@font-regular: #000000;
@font-white: #ffffff;

// viewports
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1150px;
