body {
  margin: 0;
  background-color: @base-bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 16px 70px;
  border: 2px solid @darken-blue-black;
  background: transparent;
}
