.about {
  background-color: @base-bg-color;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @font-regular;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
}

.about-advantages {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .about-advantages__item {
    margin: 0;
    padding: 82px 0;

    .about-advantages__description {
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      margin: 0;
    }
  }
}

.about-feedback__item {
  margin: 0;
}

.about-feedback__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
}

.about-feedback__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.about-feedback__author-instagram {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}

.about-feedback-link {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @font-regular;
}
