.about-feedback {
  @media (min-width: @tablet-width) {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    margin-top: 39px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / -1;
  }
}

.about-feedback__item {
  position: relative;
  margin: 0;
}

.about-feedback__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  color: @darken-blue-black;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 33px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.about-feedback__author-data {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 30px;
  }
}

.about-feedback__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.about-feedback__author-link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: @darken-blue-black;
}

.about-feedback__toggle {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    justify-content: end;
    position: relative;
    top: 70px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 6 / 7;
    justify-content: center;
    top: 35px;
  }
}

.about-feedback__link {
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @darken-blue-black;

  @media (max-width: @mobile-width-only) {
    margin-top: 20px;
  }

  @media (min-width: @tablet-width) {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    margin: 0;
    padding: 16px 16px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 6 / 7;
  }
}

.about-feedback__button {
  border: 1px solid @thin-grey-line;
  background: transparent;
  padding-top: 13px;
  padding-bottom: 13px;
}

.about-feedback__button--left {
  padding-left: 37px;
  padding-right: 42px;

  @media (min-width: @tablet-width) {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }
}

.about-feedback__button--right {
  padding-left: 42px;
  padding-right: 37px;

  @media (min-width: @tablet-width) {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }
}
