.about-advantages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;

  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 17px;
    letter-spacing: 1px;
  }

  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 18px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / -1;
    grid-column-gap: 30px;
  }
}

.about-advantages__item {
  position: relative;
  display: inline-block;
  margin: 0;
  letter-spacing: 1px;

  @media (max-width: @mobile-width-only) {
    padding: 83px 0 0 0;
  }

  @media (min-width: @tablet-width) {
    padding: 94px 0 0 0;
  }
}

.about-advantages__item--eco::before {
  content: url("../img/icon-flower.svg");
  position: absolute;
  display: block;
  width: 33px;
  height: 38px;
  top: 28px;
  left: 8px;

  @media (min-width: @tablet-width) {
    top: 38px;
  }
}

.about-advantages__item--style::before {
  content: url("../img/icon-cash.svg");
  position: absolute;
  display: block;
  width: 47px;
  height: 27px;
  top: 28px;

  @media (min-width: @tablet-width) {
    top: 39px;
    left: 1px;
  }
}

.about-advantages__item--likes::before {
  content: url("../img/icon-heart.svg");
  position: absolute;
  display: block;
  width: 34px;
  height: 27px;
  top: 34px;

  @media (max-width: @mobile-width-only) {
    left: 7px;
  }

  @media (min-width: @tablet-width) {
    top: 43px;
    left: 8px;
  }
}

.about-advantages__item--handmade::before {
  content: url("../img/icon-yarn.svg");
  position: absolute;
  display: block;
  width: 35px;
  height: 34px;
  top: 30px;
  left: 3px;

  @media (min-width: @tablet-width) {
    top: 42px;
  }

  @media (min-width: @desktop-width) {
    left: 8px;
  }
}

.about-advantages__item--homeland::before {
  content: url("../img/icon-rocket.svg");
  position: absolute;
  display: block;
  width: 55px;
  height: 23px;
  top: 32px;
  left: -6px;

  @media (min-width: @tablet-width) {
    top: 42px;
  }

  @media (min-width: @desktop-width) {
    left: -2px;
  }
}

.about-advantages__item--package::before {
  content: url("../img/icon-gift.svg");
  position: absolute;
  display: block;
  width: 33px;
  height: 32px;
  top: 29px;
  left: 3px;

  @media (min-width: @tablet-width) {
    top: 39px;
  }

  @media (min-width: @desktop-width) {
    left: 8px;
  }
}

.about-advantages__description {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about-advantages__item--eco {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.about-advantages__item--style {
  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.about-advantages__item--likes {
  @media (min-width: @tablet-width) {
    order: 5;
  }
}

.about-advantages__item--handmade {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.about-advantages__item--homeland {
  @media (min-width: @tablet-width) {
    order: 4;
  }
}

.about-advantages__item--package {
  @media (min-width: @tablet-width) {
    order: 6;
  }
}
