.about-advantages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-advantages__item {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 82px;
}

.about-advantages__item:nth-last-of-type(1) {
  padding-bottom: 58px;
}

.about-advantages__item--eco::before {
  content: url("../../img/icon-flower.svg");
  position: absolute;
  display: block;
  width: 33px;
  height: 38px;
  top: 28px;
}

.about-advantages__item--style::before {
  content: url("../../img/icon-cash.svg");
  position: absolute;
  display: block;
  width: 47px;
  height: 27px;
  top: 30px;
}

.about-advantages__item--likes::before {
  content: url("../../img/icon-heart.svg");
  position: absolute;
  display: block;
  width: 34px;
  height: 27px;
  top: 35px;
}

.about-advantages__item--handmade::before {
  content: url("../../img/icon-yarn.svg");
  position: absolute;
  display: block;
  width: 35px;
  height: 34px;
  top: 32px;
}

.about-advantages__item--homeland::before {
  content: url("../../img/icon-rocket.svg");
  position: absolute;
  display: block;
  width: 55px;
  height: 23px;
  top: 33px;
}

.about-advantages__item--package::before {
  content: url("../../img/icon-gift.svg");
  position: absolute;
  display: block;
  width: 33px;
  height: 32px;
  top: 32px;
}

.about-advantages__description {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
}
