.about {
  background-color: @base-bg-color;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @font-regular;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
