.contacts {
  background-color: @base-bg-color;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @font-regular;

  @media (max-width: @mobile-width-only) {
    min-height: 818px;
    margin-top: 38px;
  }

  @media (min-width: @tablet-width) {
    min-height: 824px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    min-height: 457px;
    margin-bottom: 105px;
  }
}

.contacts__wrapper {
  @media (max-width: @mobile-width-only) {
    min-height: 818px;
    margin-top: 38px;
    margin-bottom: 37px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 70px;
  }

  @media (min-width: @desktop-width) {
    min-height: 457px;
    display: grid;
    grid-template-columns: 220px 350px 525px;
    grid-template-rows: 87px 92px 228px 52px;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    position: relative;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    grid-column: 2 /3;
    grid-row: 2 / 3;
    padding: 0;
  }
}

.contacts__title::after {
  @media (min-width: @tablet-width) {
    content: url("../img/flag.svg");
    width: 47px;
    height: 81px;
    position: absolute;
    right: 57px;
    top: -24px;
  }

  @media (min-width: @desktop-width) {
    left: -110px;
    top: -20px;
  }
}

.contacts__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: grid;
  padding: 0 30px;

  @media (max-width: @mobile-width-only) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 25px;
    margin-bottom: 63px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    margin-top: 48px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px;
    margin: 0;
    padding: 0;
  }
}

.contacts__item {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    grid-template-columns: 2fr 6fr;
  }
}

.contacts__item:not(:last-child) {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 30px;
  }
}

.contacts__parameter,
.contacts__description {
  color: @darken-blue-black;
  margin: 0;
}

.contacts__description a {
  text-decoration: none;
  color: @darken-blue-black;
}

a[href^="info@mimimishkashop.ru"] {
  padding-bottom: 5px;
  border-bottom: 1px solid @tiffany-link;

  &:hover {
    color: @tiffany-link;
  }

  &:hover:active {
    color: @tiffany-link;
    border-bottom: none;
  }
}

.contacts__map {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 37px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 48px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3 / -1;
    grid-row: 1 / 5;
    margin: 0;
  }
}

.contacts__map--pin {
  position: absolute;
  top: 146px;
  left: 138px;

  @media (min-width: @tablet-width) {
    top: 139px;
    left: 363px;
  }

  @media (min-width: @desktop-width) {
    top: 147px;
    left: 238px;
  }
}

.contacts__link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @darken-blue-black;
  text-align: center;
  padding: 14px 40px;
  margin: 0 30px;
  letter-spacing: 1px;

  @media (min-width: @tablet-width) {
    padding: 14px 38px;
    display: inline-block;
    position: relative;
    left: 35%;
    width: 149px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 0;
    position: static;
  }
}
