.contacts {
  background-color: @base-bg-color;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @font-regular;
  padding-bottom: 39px;
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__item {
  width: 100%;
}

.contacts__parameter,
.contacts__description {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  color: @darken-blue-black;
}

.contacts__description a {
  text-decoration: none;
  color: @darken-blue-black;
}

.contacts__link {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @darken-blue-black;
  text-align: center;
}
