.main-nav {
  background-color: @base-bg-color;
}

.main-nav__toggle {
  border: none;
  background: transparent;
  padding: 32px;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    color: @font-regular;
    text-decoration: none;
    list-style-type: none;
  }
}

.main-nav__popover {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// page-header--form
.main-nav__wrapper--form {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
