.main-header {
  background-color: @base-bg-color;
  background-image: url('../../img/hero-mobile.jpg');
  background-repeat: no-repeat;
  margin-bottom: 31px;
}

.main-header__interior {
  background-color: @tiffany-lighter;
}

.main-header__toys {
  background-color: @tiffany-darker;
}

.main-header__interior,
.main-header__toys {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 19px;
  line-height: 24px;
  color: @font-white;
  margin: 0;
}

.main-header__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @font-regular;
}
