.main-featured {
  background-color: @base-bg-color;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 52px;
  margin-bottom: 31px;
}

.main-featured-header {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @font-regular;

  .main-featured__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
  }

  .main-featured__weekly {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: @tiffany-lighter;
  }

  .main-featured__about {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .main-featured__list {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }

  .main-featured__item {
    width: 100%;
  }

  .main-featured__parameter,
  .main-featured__description {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
  }
}

.main-featured__wrapper-bottom {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;

  .main-featured__price {
    font-size: 17px;
    line-height: 24px;
    color: @font-regular;
  }

  .main-featured__button {
    font-size: 18px;
    line-height: 20px;
    color: @font-regular;
    text-decoration: none;
  }
}
