.main-nav {
  background-color: @base-bg-color;
  outline: 5px solid #ff0000;
  outline-offset: -5px;
}

.main-nav__toggle {
  border: none;
  background: transparent;
  padding: 32px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    color: @font-regular;
    text-decoration: none;
    list-style-type: none;
  }
}

.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.main-nav__wrapper--form {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
