.main-header {
  background-color: @base-bg-color;
  background-image: url("../../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  margin-bottom: 31px;
}

.main-header__interior,
.main-header__toys {
  position: relative;
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 19px;
  line-height: 24px;
  color: @font-white;
  height: 103px;
  margin: 0;
}

.main-header__interior {
  background-color: @tiffany-lighter;
}

.main-header__interior--image {
  position: absolute;
  width: 40px;
  height: 62px;
  background-image: url("../../img/lamp.svg");
  background-repeat: no-repeat;
  top: 23px;
  right: 36px;
}

.main-header__toys {
  background-color: @tiffany-darker;
}

.main-header__toys--image {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url("../../img/header-toy.svg");
  background-repeat: no-repeat;
  top: 21px;
  right: 27px;
}

.main-header__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @font-regular;
}
