.main-nav {
  @media (max-width: @mobile-width-only) {
    position: absolute;
    width: 100%;
    top: 79px;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav__toggle {
  position: absolute;
  top: -79px;
  right: 0;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

/* Здесь тоггл в открытом состоянии (позиционирование отличается от
настроек .main-nav__toggle выше, поэтому top продублирован)*/
.main-nav--opened .main-nav__toggle {
  top: -79px;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 30px;
    width: 30px;
    height: 2px;
    background-color: @button-menu;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 31px;
  width: 20px;
  height: 2px;
  background-color: @button-menu;
  box-shadow: 0 8px 0 0 @button-menu, 0 16px 0 0 @button-menu;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@button-menu, 30%);
  box-shadow: 0 8px 0 0 fade(@button-menu, 30%), 0 16px 0 0 fade(@button-menu, 30%);
}

.main-nav__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  z-index: 2;

  @media (max-width: @mobile-width-only) {
    background-color: @base-bg-color;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 89px 1fr;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__wrapper--form {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav__list--sub {
  @media (max-width: @desktop-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
  }
}

.main-nav__item {
  a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    list-style-type: none;
    color: @font-regular;
  }

  &:hover a {
    opacity: 0.6;
  }
}

.main-nav__list--option {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: inline-block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    text-align: end;
    color: @darken-blue-black;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}
