.order-form {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @font-regular;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 55px;
}

.order-form__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 37px;
  color: @darken-blue-black;
}
