.page-header {
  background-color: @base-bg-color;
}

.main-nav {
  background-color: @base-bg-color;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    color: @font-regular;
    text-decoration: none;
  }
}
