.page-footer {
  background-color: @base-grey-color;
}

.page-footer__wrapper {
  display: grid;
  grid-row-gap: 20px;

  @media (max-width: @mobile-width-only) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 25px 30px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 51px 50px 58px;
  }
}

.page-footer__logo {
  position: absolute;

  @media (max-width: @mobile-width-only) {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../../img/logotype-footer.svg");
    background-repeat: no-repeat;
    width: 102px;
    height: 34px;
    position: static;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: column;

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @thin-grey-line;
  }
}

.page-footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  @media (min-width: @desktop-width) {
    margin: 0 50px;
  }
}

.page-footer__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: @font-regular;

  @media (min-width: @tablet-width) {
    margin-right: 30px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}
