.page-header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: @font-regular;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @thin-grey-line;
    border-bottom: 1px solid @thin-grey-line;
    display: block;
  }

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    border: none;
  }
}

.page-header--general {
  background: linear-gradient(to bottom, @base-bg-color 0 87px, @thin-grey-line 87px 88px, @gen-nav-color 88px);
}

.page-header--inner {
  background: linear-gradient(to bottom, @base-bg-color 0 87px, @thin-grey-line 87px 88px, @base-grey-color 88px);
}

.page-header--wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    width: 768px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.page-header__link {
  background-color: @base-bg-color;
  z-index: 3;

  @media (max-width: @mobile-width-only) {
    display: flex;
    justify-content: center;
    margin: 21px auto;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 22px;
  }

  @media (min-width: @desktop-width) {
    left: 450px;
    top: 10px;
  }
}

.page-header__logo--visible-phone {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo--visible-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo--visible-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-header__logo {
  &:hover {
    opacity: 0.6;
  }

  &:hover:active {
    opacity: 0.3;
  }
}
