.page-items {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @font-regular;
  position: relative;
}

.page-items__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 51px;
  }
}
