.page-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @font-regular;
  background-color: @base-grey-color;
  margin: 0;
  padding: 73px 50px;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
