.page-form-filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
  }
}

.page-form-filter__group {
  padding: 0;
  margin: 0;
  border-right: none;
  border-bottom: none;
  border-left: none;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @tiffany-lighter;
  }

  @media (min-width: @tablet-width) {
    border-top: none;
    justify-content: center;
  }
}

.page-form-filter__group--type {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 42px;
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(4, 167px);
    grid-template-rows: 1fr;
    margin-bottom: 66px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 175px);
    margin-bottom: 54px;
  }
}

.page-form-filter__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @tiffany-lighter;
  padding-right: 10px;
  grid-row: 1 / 2;

  @media (min-width: @tablet-width) {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    left: 65px;
  }
}

.page-form-filter__title--type {
  @media (min-width: @tablet-width) {
    top: 16px;
    left: 2px;
  }

  @media (min-width: @desktop-width) {
    top: 15px;
    left: 63px;
  }
}

.page-form-filter__title--color {
  @media (min-width: @tablet-width) {
    top: 65px;
  }

  @media (min-width: @desktop-width) {
    top: 76px;
  }
}

.page-form-filter__title--full-name {
  @media (min-width: @tablet-width) {
    top: 41px;
    left: 3px;
  }

  @media (min-width: @desktop-width) {
    top: 42px;
    left: 64px;
  }
}

.page-form-filter__title--phone {
  @media (min-width: @tablet-width) {
    top: 33px;
  }
}

.page-form-filter__title--email {
  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    top: 34px;
  }
}

.page-form-filter__title--addition {
  @media (min-width: @tablet-width) {
    top: 65px;
    left: 2px;
  }

  @media (min-width: @desktop-width) {
    left: 63px;
  }
}

.page-form-filter__control-label,
.page-form-filter__item,
.page-form-filter__user {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.page-form-filter__control-label {
  letter-spacing: 1px;

  @media (min-width: @tablet-width) {
    padding-left: 23px;
    letter-spacing: 2px;
  }
}

.page-form-filter__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    padding-right: 42px;
    padding-left: 59px;
  }
}

.page-form-filter__list--types {
  grid-row-gap: 15px;

  @media (max-width: @mobile-width-only) {
    grid-row: 2 / 3;
  }

  @media (min-width: @tablet-width) {
    grid-column: 2 / 5;
    grid-row-gap: 58px;
    padding-left: 60px;
  }
}

.page-form-filter__group--color {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 42px;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    background-color: @base-grey-color;
    grid-template-columns: repeat(4, 167px);
    grid-template-rows: 1fr;
    padding: 50px 50px 69px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 175px);
    padding: 62px 50px 69px;
  }
}

.page-form-filter__list--color {
  grid-row-gap: 43px;

  @media (max-width: @mobile-width-only) {
    grid-row: 2 / 3;
  }

  @media (min-width: @tablet-width) {
    grid-column: 2 / 5;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
    grid-row-gap: 57px;
    grid-column-gap: 80px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 7;
    grid-template-columns: 260px 265px 260px;
    grid-column-gap: 0;
  }
}

.page-form-filter__group--name {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(4, 167px);
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 14px;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 175px);
  }
}

.page-form-filter__user {
  margin: 0;
  margin-top: 11px;
}

.page-form-filter__user label {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.page-form-filter__user--first-name {
  @media (min-width: @tablet-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 6;
  }
}

.page-form-filter__label--first-name {
  align-self: center;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    letter-spacing: 2px;
  }
}

.page-form-filter__user--second-name {
  @media (min-width: @tablet-width) {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 6;
  }
}

.page-form-filter__label--second-name {
  align-self: center;
  margin-top: 9px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    letter-spacing: 2px;
  }
}

.page-form-filter__user--middle-name {
  @media (min-width: @tablet-width) {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 6;
  }
}

.page-form-filter__label--middle-name {
  align-self: center;
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    letter-spacing: 2px;
  }
}

.page-form-filter__group--contacts {
  border: none;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-row-gap: 15px;
    background-color: @base-grey-color;
    margin-bottom: 5px;
    padding: 15px 50px 50px 50px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 175px);
    padding: 30px 50px 50px;
  }
}

.page-form-filter__group--phone {
  display: grid;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    background-color: @base-grey-color;
    grid-template-columns: repeat(4, 167px);
    margin-top: 22px;
    margin-bottom: -3px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 175px);
    grid-column: 1 / -1;
    margin-top: 7px;
  }
}

.page-form-filter__group--email {
  display: grid;

  @media (min-width: @tablet-width) {
    background-color: @base-grey-color;
    grid-template-columns: repeat(4, 167px);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 175px);
    grid-column: 1 / -1;
  }
}

.page-form-filter__group--addition {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(4, 167px);
    grid-template-rows: auto;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 175px);
  }
}

.page-form-filter__addition {
  & textarea {
    resize: none;
  }

  @media (min-width: @tablet-width) {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 6;
  }
}

.page-form-filter__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.page-footer__item--instagram {
  @media (max-width: @mobile-width-only) {
    justify-self: end;
  }
}

.page-footer__item--facebook {
  @media (max-width: @mobile-width-only) {
    justify-self: center;
  }
}

.page-footer__item--twitter {
  @media (max-width: @mobile-width-only) {
    justify-self: start;
  }
}

.page-form-filter__control {
  position: relative;
}

.page-form-filter__button {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @darken-blue-black;
  padding: 16px 37px;
  margin-top: 26px;
  border: 2px solid @darken-blue-black;
  background: transparent;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 230px;
    margin-top: 33px;
    padding: 16px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 4;
    margin-top: 28px;
  }

  &:hover {
    background-color: @darken-blue-black;
    color: @font-white;
  }

  &:hover:active {
    background-color: @darken-blue-black;
    color: @font-white;

    .page-form-filter__button-text {
      opacity: 0.3;
    }
  }
}

.page-form-filter__button-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.page-form-filter__hint {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.3;
  margin: 0;

  @media (min-width: @tablet-width) {
    grid-column: -1 / -3;
    grid-row: 2 / 3;
    justify-self: end;
    position: relative;
    top: 54px;
    letter-spacing: 2px;
  }

  @media (min-width: @desktop-width) {
    grid-column: -2 / -5;
  }
}

.page-form-filter__control-mark {
  box-sizing: border-box;
  position: absolute;
  width: 42px;
  height: 42px;
}

.page-form-filter__control-mark--radio {
  left: -59px;
  top: -8px;

  @media (min-width: @tablet-width) {
    top: -21px;
  }
}

.page-form-filter__control-mark--check {
  left: -59px;
  top: -12px;

  @media (min-width: @tablet-width) {
    top: -20px;
  }
}

@media (max-width: @mobile-width-only) {
  /*RADIO-BUTTONS*/
  .page-form-filter__control-input[type="radio"]:checked + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-on.svg");
  }

  .page-form-filter__control-input[type="radio"]:not(:checked) + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-off.svg");
  }

  .page-form-filter__control-input[type="radio"]:checked:hover + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-on-hover.svg");
  }

  .page-form-filter__control-input[type="radio"]:not(:checked):hover + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-off-hover.svg");
  }

  .page-form-filter__control-input[type="radio"]:checked:active + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-on-down.svg");
  }

  .page-form-filter__control-input[type="radio"]:not(:checked):active + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-off-down.svg");
  }

  /*CHECKBOX-BUTTONS*/
  .page-form-filter__control-input[type="checkbox"]:checked + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-on.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:not(:checked) + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-off.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:checked:hover + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-on-hover.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:not(:checked):hover + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-off-hover.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:checked:active + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-on-down.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:not(:checked):active + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-off-down.svg");
  }
}

@media (min-width: @tablet-width) {
  /*RADIO-BUTTONS*/
  .page-form-filter__control-input[type="radio"]:checked + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-on-large.svg");
  }

  .page-form-filter__control-input[type="radio"]:not(:checked) + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-off-large.svg");
  }

  .page-form-filter__control-input[type="radio"]:checked:hover + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-on-hover-large.svg");
  }

  .page-form-filter__control-input[type="radio"]:not(:checked):hover + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-off-hover-large.svg");
  }

  .page-form-filter__control-input[type="radio"]:checked:active + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-on-down-large.svg");
  }

  .page-form-filter__control-input[type="radio"]:not(:checked):active + .page-form-filter__control-mark::before {
    content: url("../img/icon-radio-off-down-large.svg");
  }

  /*CHECKBOX-BUTTONS*/
  .page-form-filter__control-input[type="checkbox"]:checked + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-on-large.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:not(:checked) + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-off-large.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:checked:hover + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-on-hover-large.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:not(:checked):hover + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-off-hover-large.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:checked:active + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-on-down-large.svg");
  }

  .page-form-filter__control-input[type="checkbox"]:not(:checked):active + .page-form-filter__control-mark::before {
    content: url("../img/icon-check-off-down-large.svg");
  }
}

.page-form-filter__text-input {
  outline: 0;
  outline-offset: 0;
  border: none;
  border-bottom: 2px solid @font-regular;
  padding: 14px 10px 11px 0;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;

  @media (max-width: @mobile-width-only) {
    width: 96%;
  }

  @media (min-width: @tablet-width) {
    &:hover,
    &:hover:active,
    &:focus {
      border-bottom: 2px solid @tiffany-link;
    }
  }
}

.page-form-filter__text-input--first {
  @media (min-width: @tablet-width) {
    margin-left: 24px;
    flex-grow: 1;
    padding-top: 0;
    padding-left: 28px;
  }
}

.page-form-filter__text-input--second {
  @media (min-width: @tablet-width) {
    margin-left: 24px;
    flex-grow: 1;
    padding-top: 7px;
    padding-left: 20px;
    letter-spacing: 1px;
  }
}

.page-form-filter__text-input--middle {
  @media (min-width: @tablet-width) {
    margin-left: 24px;
    flex-grow: 1;
    padding-top: 13px;
    padding-left: 18px;
  }
}

.page-form-filter__text-input::placeholder,
.page-form-filter__wide::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
  opacity: 0.3;
}

.page-form-filter__phone,
.page-form-filter__email {
  position: relative;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 6;
  }
}

.page-form-filter__text-input--phone,
.page-form-filter__text-input--email {
  @media (min-width: @tablet-width) {
    background-color: @base-grey-color;
    padding-left: 17px;
    padding-right: 70px;
  }
}

.page-form__icon--phone,
.page-form__icon--email {
  position: absolute;
  box-sizing: border-box;
}

.page-form__icon--phone {
  top: 11px;
  right: 8px;

  @media (min-width: @tablet-width) {
    right: 26px;
  }

  @media (min-width: @desktop-width) {
    right: 7px;
  }
}

.page-form__icon--email {
  top: 15px;
  right: 4px;

  @media (min-width: @tablet-width) {
    top: 13px;
    right: 22px;
  }

  @media (min-width: @desktop-width) {
    right: 4px;
  }
}

.page-form__icon--phone::after {
  content: url("../img/icon-phone.svg");
}

.page-form__icon--email::after {
  content: url("../img/icon-letter.svg");
}

.page-form-filter__text-input--phone:hover + .page-form__icon--phone::after,
.page-form-filter__text-input--phone:active + .page-form__icon--phone::after,
.page-form-filter__text-input--phone:focus + .page-form__icon--phone::after {
  content: url("../img/icon-phone-hover.svg");
}

.page-form-filter__text-input--email:hover + .page-form__icon--email::after,
.page-form-filter__text-input--email:active + .page-form__icon--email::after,
.page-form-filter__text-input--email:focus + .page-form__icon--email::after {
  content: url("../img/icon-letter-hover.svg");
}

.page-form-filter__wide {
  outline: 0;
  outline-offset: 0;
  font-weight: 400;
  font-size: 19px;
  line-height: 18px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 2px solid @darken-blue-black;
  width: 100%;
  padding: 17px;
  min-height: 142px;

  &:hover,
  &:hover:active,
  &:focus {
    border: 2px solid @tiffany-link;
  }
}
