.page-items {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @font-regular;
}

.page-items__wrapper {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
