.site-list {
  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 340px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 430px;
    top: -65px;
    background-color: transparent;
  }
}

.site-list__item {
  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @thin-grey-line;
    padding: 28px 52px 27px 76px;
  }

  @media (min-width: @tablet-width) {
    border-top: none;
    padding: 20px 0;
    margin-right: 30px;
  }
}

.site-list__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: @font-regular;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:hover:active {
    opacity: 0.3;
  }
}
