.user-list {
  @media (min-width: @tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: @desktop-width) {
    top: -45px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.user-list__item {
  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @thin-grey-line;
    padding: 28px 52px 27px 76px;
    min-height: 20px;
  }

  @media (min-width: @tablet-width) {
    border-top: none;
    padding: 0;
  }
}

.user-list__item:first-child {
  @media (min-width: @tablet-width) {
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.user-list__item:last-child {
  @media (min-width: @tablet-width) {
    text-align: end;
  }
}

.user-list__link {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: @font-regular;
  text-decoration: none;
}

.user-list__item:first-child::after {
  @media (max-width: @mobile-width-only) {
    content: "Поиск по сайту";
    position: absolute;
    display: block;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    color: @font-regular;
    text-decoration: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.user-list__icon {
  position: absolute;

  @media (max-width: @mobile-width-only) {
    left: -41px;
    top: -2px;
  }
}
