.video {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: @font-regular;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 58px;
}

.video__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.video__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.video__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
}
